@model CurrencyConverterViewModel

@{
    ViewBag.Title = "Currency Converter";
}

<h2 class="title">Currency Converter</h2>
<form method="post" action="~/CurrencyConverter/Convert">
    <!-- From Currency and Amount -->
    <div class="currency-row">
        <div class="currency-block">
            <label for="FromCurrency" class="label">From Currency:</label>
            <select id="FromCurrency" class="currency-dropdown" name="FromCurrency" required>
                <option value="" disabled selected>Select Currency</option>
                @foreach (string currency in Model.CurrencyList)
                {
                    <option value="@currency">@currency</option>
                }
            </select>
        </div>

        <div class="currency-block">
            <label for="Amount" class="label">Amount to Convert:</label>
            <input id="Amount" type="number" class="currency-input" name="Amount" placeholder="Amount" required min="0.00">
        </div>
    </div>

    <!-- To Currency and Converted Amount -->
    <div class="currency-row">
        <div class="currency-block">
            <label for="ToCurrency" class="label">To Currency:</label>
            <select id="ToCurrency" class="currency-dropdown" name="ToCurrency" required>
                <option value="" disabled selected>Select Currency</option>
                @foreach (string currency in Model.CurrencyList)
                {
                    <option value="@currency">@currency</option>
                }
            </select>
        </div>

        <div class="currency-block">
            <label for="ConvertedResult" class="label">Converted Amount:</label>
            <input id="ConvertedResult" class="currency-input" value="@Model.ConvertedResult" placeholder="Result" readonly>
        </div>
    </div>

    <!-- Submit Button -->
    <div class="button-row">
        <button class="btn btn-primary submit-button" type="submit">Convert Amount</button>

        <div class="tooltip">
            click here to convert.
        </div>
    </div>
</form>
